$special: #7077f0c5;
$top: #4147b3c5;
$col: #3d42ad;
$color2: #191b47;
$col3: #2f3487;
$col4: #3d42ad;
$twit: rgb(107, 125, 140);
$bg: rgba(128, 128, 128, 0.507);
$bh: rgba(27, 27, 27, 0.89);
$pup:#7c7cbb;
$pi:#474799;
.line  {
  display: flex;
}
.auth_contents {
    display: flex;
    align-items: center;
    height: 100vh;
    color: grey;
    justify-content: center;
    background-image: url(./bg/bg21.png);
   


    button {
      color: rgba(100, 100, 100, 0.781);
      font-weight: bold;
      outline: none;
      border: none;

    }
}
//404 page 
.not_found {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
   img {
     width: 20%;
     height: 50%;
   }
   h5 {
    color: teal;
    font-weight: bold;
     
   }
   h1 {
     cursor: pointer;
     text-align: center;
     font-size: 50px;
     color: #ff4f5e;
   }
}
.side_left {
  background-color: #abcff7;
  height: 100vh;
}
.side_image {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
  img {
    //position: absolute;
    margin-top: 8em;
    left: 8em;
  }
}

$bread:#e9ecef;
.social_cover {
  background-color: #454585;
  height: 100vh;
}

.social_image {
  display: flex;
  justify-content: center;
  position: relative;
  
  .vec {
    margin-top: 20em;
  }

}
.rw {
  height: 100vh;
}
.details {
  display: flex;
}
.world {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    top: 60%;

  }

}
#list {
  display: flex;
  margin-top: 4em;
    h5 {
      margin-left: 1em;
      font-size: 20px;
    }
    h5:hover{
      color:$pup;
    }
}

.bread {
  padding: 2em 0;
}
.hold {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .middle {
    font-size: 20px;

    .btn {
      margin: 1.5em;
      padding: 1em;
      background-color: $col;
      width: 50%;
    }
  }
}

//for all the articles 
.devTo {
  .card {
    padding: 1.5em 0.5em;
    position: relative;

    span {

      ul{
        list-style-type: none;
        display: inline;

        li {
          display: inline-block;
          margin-right: 1em;
        }
      }
    }
  }
}
.middles {
  height: 100vh;
  // border: 1px solid grey;

  //header part
  header {
    background-color: $top;
    height: 18em;
    border-radius: 0 0 25px 25px;
    color: white;
  }

  h6 {
    font-size: 3em;
    cursor: pointer;
  }
  .emo {
    font-size: 35px;
  }
}

.top {
  background-color: $top;
  border-radius: 2.5em 2.5px 0 0;

  div {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: white;
  }
}
//now for the bot msg
.botMsg {
  background-color: $bread;
  border-radius: 4px;
  width: 40%;
  margin-top: 3em;
  padding: 1em;
  font-weight: 500;
  font-size: 16px;
}

//features
.features {
  padding: 3em 1em;
  box-shadow: 2px 3px 9px rgba(165, 165, 165, 0.267);
}
.catch {
  font-size: 12px;
  color: rgb(189, 46, 46);
}

.card-1 {
  color: grey;
  border-radius: 15px;

  .titleName {
    font-weight: 450;
    font-size: 16px;
    color: green;
    font-weight: 500;
  }
}
.card-2 {
  color: rgba(0, 0, 255, 0.137);
  border-radius: 18px;
  svg {
    font-size: 28px;
    color: #191b47;
  }
  .titleName {
    color: #191b47;
    font-weight: 500;
  }
}


.card {
  // box-shadow: 2px 3px 9px rgba(92, 92, 92, 0);
  border-radius: 18px;
  background-color: #e9ecef;
  border: none;
}
//side bar

.sidebar {
  background-color: $color2;
  position: absolute;
  left: 0;
  width: 40%;
  height: 100vh;
  z-index: 1;
  color: white;
  padding-left: 1em;
  padding-top: 2em;
  opacity: 0.9;
  transition: ease-in 2.5s;
  transition-delay: 4s;
  backdrop-filter: blur(90px);
  //display: none;

  ul {
    list-style-type: none;

    li {
      margin-top: 9em;
      cursor: pointer;
      font-weight: bold;
    }
  }
  //now for the cancel button
  h3 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    float: right;
    padding-right: 1em;
    cursor: pointer;
  }
  a{
    color: rgb(209, 205, 205);
    text-decoration: none;
  }
  a:hover {
    color: yellow;
  }
}
//now this is the footer aspect

footer {
  position: fixed;
  bottom: 0%;

  .inside {
    position: absolute;
    bottom: 0%;
  }

  .inbox {
    width: 25em;
  }
  h5 {
    position: absolute;
    top: 47px;
    right: 1em;
    cursor: pointer;
    font-size: 22px;
    color: $special;
  }
}

.mess {
  color: white;
  float: right;
  clear: both;
  background-color: #7077f0c5;
  width: auto;
  padding: 0.5em 1em;
  border-radius: 8px 8px 0 8px;
  margin-top: 2em;
}

.red {
  float: left;
  clear: both;
  background-color: $bread;
  width: auto;
  padding: 1em 1em;
  border-radius: 8px 8px 8px 0;
  margin-top: 6px;
  font-size: 14px;
  margin-top: 2em;
}
.parent {
  background-image: url(./bg/bg21.png);
  background-color: rgba(233, 231, 231, 0.459);
}
.svg {
  cursor: pointer;
}

//doctor part
.head {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}
//doctor block
#doctor {
  background-color: $pi;
  backdrop-filter: blur(50px);
  margin-bottom: 20px;
  color: white;
}

//meet people
.meet {
  position: fixed;
  top: 0;
}
//cad
.cad .card {
  height: 9em;
  margin-top: 3em;
  cursor: pointer;
  box-shadow: 1px 3px 5px rgba(128, 128, 128, 0.192);
}
.down {
  margin-top: 2em;
  height: 8em;
  background-color: rgba(47, 77, 209, 0.541);
  backdrop-filter: blur(40px);
  color: white;
  box-shadow: 1px 1px 8px 1px rgba(128, 128, 128, 0.589);
}
//error part
.err {
  color: red;
}
//sucess
.loadMsg {
  color: green;
}

//footer btn
.upload-btn {
  background-color: $pi;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-top: 1em;
  color: white;
 
  label {
    padding-top: 0.2em;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

}
//footer for the uopload btn 
.foot {
  position: absolute;
  bottom: 1em;
  
}


.click {
  color: white;
  display: none;
}

.bg {
  background-image: url(./bg/bg2.png);
}

/* on small phones hide the other columns */
@media screen and (min-width: 200px) and (max-width: 600px) {
  .first,
  .last {
    display: none;
  }
  .click {
    color: white;
    display: block;
  }
  .top {
    background-color: white;
    position: fixed;
    top: 0;
    margin: 0%;
    width: 100%;
    height: 50px;
    h4 {
      color: $special;
    }
    a {
      color: $special;
    }
    h6 {
      color: $special;
    }
  }
  .social_cover{
    display: none;
  }
  .side_left {
    display: none;
  }

  // .bg {
  //   background-image: url(./bg/bg2.png);
  // }
  .parent {
    background-color: #fff;
    background-image: url(./bg/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .not_found {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
     img {
       width: 70%;
       height: 50%;
     }
     h5 {
      color: teal;
      font-weight: bold;
       
     }
     h1 {
       cursor: pointer;
       text-align: center;
       font-size: 50px;
       color: #ff4f5e;
     }
  }
  .auth_contents {
    background-image: url(./bg/bg1.png);
    background-repeat: repeat;
    background-size: auto;
  }
}
